<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MST - Login Page</title>
    <!-- Bootstrap -->
    <link
            rel="stylesheet"
            type="text/css"
            href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <!-- Favicon -->
    <link rel="icon" href="./assets/images/mst.jpg" type="image/jpg" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
            rel="stylesheet"
    />
    <!-- CSS -->
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="login">
    <div class="container">
        <div class="row gx-0 login-row">
            <div class="col-lg-6 px-0">
                <img
                        src="https://lh3.googleusercontent.com/proxy/37t_ZIKIPSUf_s2WXyUq9NNiroHn1Jk4cQhK35xpIsLPqB_QSYck9fW3f7-drjUOsdsnJDLu4dLiglRp0beVUR2KaNa449dZlthx1zFqQe9-mtvpeexUiok30yB-_iloK4LWEg"
                        class="img-fluid login-image"
                        alt=""
                />
            </div>
            <div class="col-lg-6 px-5 py-3">
                <img
                        src="./assets/images/mst.jpg"
                        class="img-fluid"
                        alt=""
                        height="50"
                        width="100"
                />
                <h4 class="fw-bold mb-3 mb-md-5">Sign in to your account</h4>
                <form action="/login" method="post" th:object="${user}">
                    <div class="form-row">
                        <div class="form-input col-lg-10">
                            <input
                                    th:field="*{username}"
                                    type="text"
                                    placeholder="Username"
                                    class="form-control my-2 p-2"
                            />
                        </div>
                    </div>
                    <div class="form-input form-row">
                        <div class="col-lg-10">
                            <input
                                    th:field="*{password}"
                                    type="password"
                                    placeholder="Password"
                                    class="form-control my-2 p-2"
                            />
                        </div>
                    </div>
                    <!--<div class="form-row">
                        <div class="col-lg-10">
                            <button
                                    th:field="*{password_confirmation}"
                                    type="button"
                                    placeholder="Password"
                                    class="btn btn-dark btn-login mt-2 mb-5"
                            >
                                Login
                            </button>
                        </div>
                    </div>-->

                    <div class="form-input form-row">
                        <div class="col-10">
                            <input
                                    type="submit"
                                    class="btn btn-dark my-2 p-2"
                            />
                        </div>
                    </div>


                    <p>
                        Don't have an account?
                        <a href="#">Register here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
